{% extends "navigationBar.html" %}

{% block content %}

        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">

                {% block form %}
                {% endblock %}

            </div>
        </div>

{% endblock %}