{%  load static from static %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EMU</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'navBarStyle.css'%}">
        <link rel="stylesheet" href="{% static 'bulma.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
        <link rel="stylesheet"  href="{% static 'navBarStyle.css' %}">
    </head>
    <body>
        <header>
            <!--<img class="logo" src="images/logo.svg" alt="logo">-->
            <nav>
                <ul class="nav__links">
                    <li><a href="http://127.0.0.1:8000">Home</a></li>
                    <li><a href="http://127.0.0.1:8000/items/">Items</a></li>
                    <li><a href="http://127.0.0.1:8000/inventory/">Inventory</a></li>
                     <li><a href="http://127.0.0.1:8000/suppliers/">Suppliers</a></li>
                    <li><a href="http://127.0.0.1:8000/orders/">Orders</a></li>
                    <li><a href="http://127.0.0.1:8000/dishes/"">Dishes and Recipes</a></li>
                    <li><a href="http://127.0.0.1:8000/tickets/">Tickets</a></li>
                </ul>
            </nav>
            <a class="cta" href="#">Contact</a>
        </header>
        <div id="mobile__menu" class="overlay">
            <a class="close" onclick="closeNav()">&times;</a>
            <div class="overlay__content">
                <a href="#">Items</a>
                <a href="#">Inventory</a>
                <a href="#">Suppliers</a>
                <a href="#">Orders</a>
                <a href="#">Dishes and Recipes</a>
                <li><a href="#">Tickets</a></li>
            </div>
        </div>
        <script type="text/javascript" src="mobile.js"></script>

        {% block content  %}
        {% endblock %}

    </body>
</html>