{%extends "base.html"%}

{% block form %}

    <h3 class="title is-size3">Orders</h3>

        </form method = 'POST'>
            {%csrf_token %}

            {% for field in form %}

                <div class="field">
                    <label for="{{ field.id_for_label }}" class="label">
                        {{ field.html_name }}
                    </label>
                {{ field }}
                </div>

            {% endfor %}

            <input type = 'submit' class="button is-primary" value="Submit" name="AddOrder" />

        </form>

{% endblock form %}
