{%extends "base.html"%}

{% block form %}

    <h3 class="title is-size3">Suppliers</h3>

        <form method = 'POST'>
            {%csrf_token %}

            {% for field in form %}

                <div class="field">
                    <label for="{{ field.id_for_label }}" class="label">
                        {{ field.html_name }}
                    </label>
                {{ field }}
                </div>

            {% endfor %}

            <input type = 'submit' class="button is-primary" value="Add" name="AddSupplier" />
            <input type="submit" class="button is-primary" value="Delete" name="DeleteSupplier">
            <input type="submit" class="button is-primary" value="Update" name="UpdateSupplier">
            <input type="reset" class="button is-primary" value="Clear From">
        </form>

{% endblock form %}
