{%extends "base.html"%}

{% block form %}

    <h3 class="title is-size3">Ticket Dishes</h3>
        <form method = 'POST'> {%csrf_token %}

            {% for field in form %}

                    <div class="field">
                        <label for="{{ field.id_for_label }}" class="label">
                            {{ field.html_name }}
                        </label>
                    {{ field }}
                    </div>

                {% endfor %}

            <input type = 'submit'class="button is-primary"  value="Add" name="_Add" />
            <input type="submit"class="button is-primary"  value="Delete" name="_Delete">
            <input type="submit" class="button is-primary" value="Update" name="_Update">
            <input type="reset" class="button is-primary" value="Clear Form">
            <a class="button is-primary" href="http://127.0.0.1:8000/tickets/">Ticket</a>

        </form>
{% endblock form %}
